<section class="header_container">
  <img class="logo" src="{{ logo }}" alt="Logo" />

  <div class="bloco2">
    <div class="whats">
      @for (item of contato(); track $index) {
      <a href="{{ item.link }}" target="_blank">
        <mat-icon *ngIf="item.wpp">{{ item.wpp }}</mat-icon>
        <p>{{ item.label }}</p>
      </a>
      }
    </div>

    <div class="profile">
      @for (item of profile(); track $index) {
      <a routerLink="{{ item.rotaUrl }}">
        <mat-icon class="icon_profile" *ngIf="item.iconUrl">{{ item.iconUrl }}</mat-icon>
      </a>
      }

      <div class="user-info">
        @for (item of profile(); track $index) {
        <p>Olá, {{ item.nome }}</p>
        <a routerLink="{{ item.rotaUrl }}">
          <span>{{ item.tipoUsu }}</span>
        </a>
        }
      </div>
    </div>
  </div>
</section>
