.pet-menu {
  margin: 2rem 0 1rem 0;
  background: var(--primary-color);
  border-radius: 8px;
  box-shadow: var(--shadow-sm);

  ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      flex: 1;
      text-align: center;
      padding: 1rem;
      color: var(--white);
      cursor: pointer;
      font-weight: 600;
      transition: background 0.2s;

      &:first-child {
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
      }

      &.active, &:hover {
        background: var(--orange);
      }

      border-right: 1px solid rgba(255,255,255,0.2);

      &:last-child {
        border-right: none;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
      }
    }
  }
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--text-secondary);
}


button {
  min-height: 0.35rem;
}

.btn {
  padding: 0.5rem 0.5rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 3px var(--primary-light);
}

.btn--primary {
  background-color: var(--primary-color);
  color: var(--white);
}

.btn--disabled {
  background-color: var(--gray-light);
  color: var(--gray-dark);
  cursor: not-allowed;
  pointer-events: none;
}

.btn--primary:hover {
  background-color: var(--orange);
  transform: translateY(-2px);
  box-shadow: var(--shadow-md);
}

.tab-container-not-found{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}


@media (max-width: 800px) {
  h2 {
    font-size: 1.2rem;
    text-align: center;
  }
}


