<nav class="pet-menu">
  <ul>
    <li [class.active]="activeTab === 'consultas'" (click)="setActiveTab('consultas')">Consultas</li>
    <li [class.active]="activeTab === 'vacinas'" (click)="setActiveTab('vacinas')">Vacinas</li>
    <li [class.active]="activeTab === 'anexos'" (click)="setActiveTab('anexos')">Anexos</li>
  </ul>
</nav>

<hr>

@if (activeTab === 'consultas') {
  <app-consultas-pet/>
} @else if (activeTab === 'vacinas') {
  <app-vacinas-pet/>
} @else if (activeTab === 'anexos') {
  <app-outros-anexos-pet/>
}

