<section class="menu_left" [class.open]="collapsed()">
  <nav class="nav_menu_left">
    <ul class="ul_menu_left">
      @for (item of itens(); track $index) {
      <li class="li_menu_left" routerLinkActive="active" #rla="routerLinkActive">
        <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
        <a
          [routerLink]="item.link"
          [attr.aria-current]="rla.isActive ? 'page' : null"
          (click)="close.emit()"
        >
          {{ item.label }}
        </a>
      </li>
      }
    </ul>
  </nav>
</section>
