<header class="header">
  <div class="header-container">
    <div class="logo-section">
      <a routerLink="/home" class="logo-link">
        <img src="/logo_paw.svg" alt="Logo" class="logo">
        <img src="/titulo.svg" alt="TechVet" class="title">
      </a>
    </div>

    <nav class="nav-section">
      <a routerLink="/home" routerLinkActive="active" class="nav-link">Início</a>
      <a routerLink="/quem-somos" routerLinkActive="active" class="nav-link">Quem Somos</a>
      <a routerLink="/prismapet" routerLinkActive="active" class="nav-link">PrismaPet</a>
      <a routerLink="/planos" routerLinkActive="active" class="nav-link">Planos</a>
      <a routerLink="/contato" routerLinkActive="active" class="nav-link">Contato</a>
    </nav>

    <div class="button-section">
      <button class="prismapet-button">PrismaPet</button>
    </div>
  </div>
</header>

