<section class="login-right">
  <img src="assets/imagens/img-logo-novo.png" alt="Imagem o logo da Vetja" class="logo" />

  <div class="form-login">
    <div class="titulo">
      <h2>Login na <span>{{ title }}</span></h2>
      <p>Seja Bem Vindo (a) a plataforma</p>
    </div>

    <form action="">
      <div class="input-group">
        <img class="icon-left" src="assets/icons/icon-email.svg" alt="ícone de email" />
        <input type="email" id="email" placeholder="Digite seu e-mail" />
      </div>

      <div class="input-group">
        <img class="icon-left" src="assets/icons/icon-cadeado.svg" alt="ícone de cadeado" />
        <input type="password" id="password" placeholder="Digite sua senha" />
      </div>
      <div class="forgot-password">
        <a href="#">Esqueceu sua senha?</a>
      </div>
      <button type="submit" class="btn-login">Entrar</button>
    </form>
  </div>
</section>
