.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;

  h1 {
    color: #004AAD;
    font-size: 48px;
    font-weight: 600;
  }
}

