<app-header
  [contato]="headerContato"
  [profile]="headerProfile"
  [collapsed]="false">
</app-header>

<div class="layout">
  <app-menu-left [itens]="menuVet" 
  [collapsed]="isMenuOpen"
  (close)="closeMenu()"></app-menu-left>

  <main class="content">

    <section class="cards">
      @for (c of cardsVet; track $index) {
        <app-card [cardInfo]="c"></app-card>
      }
    </section>
      <app-texto-inicio [inicio]="inicioVet"></app-texto-inicio>
  </main>
</div>


<button class="menu-fab" type="button" (click)="toggleMenu()" aria-label="Abrir menu">
  <span class="menu-fab__icon">☰</span>
</button>

<!-- backdrop ao abrir (fecha ao clicar fora) -->
<div class="menu-backdrop" *ngIf="isMenuOpen" (click)="closeMenu()"></div>