<div class="page-container">
  <h1>Especialidades</h1>
  
  <div class="specialties-grid">
    <app-specialty-card
      iconSrc="assets/more.svg"
      title="Cardiologista"
      description="Focado em analisar, diagnosticar e tratar doenças que afetem o coração ou o sistema cardiovascular dos pets.">
    </app-specialty-card>
    
    <app-specialty-card
      iconSrc="assets/more.svg"
      title="Dermatologista"
      description="Especialista em doenças e problemas da pele, pelagem e unhas dos animais.">
    </app-specialty-card>
    
    <app-specialty-card
      iconSrc="assets/more.svg"
      title="Ortopedista"
      description="Diagnóstico e tratamento de problemas ósseos, articulares e musculares.">
    </app-specialty-card>
  </div>
</div>

