<div class="page-container">
  <h1>Serviços</h1>
  
  <div class="services-grid">
    <app-service-card
      imageSrc="assets/more.svg"
      title="Consulta Veterinária"
      description="Clínica ou Especializada para Cães, Gatos e Silvestres">
    </app-service-card>
    
    <app-service-card
      imageSrc="assets/more.svg"
      title="Outro Serviço"
      description="Descrição do outro serviço">
    </app-service-card>
  </div>

  <div class="features-grid">
    <app-feature-card
      iconSrc="assets/more.svg"
      title="Atendimento completo em casa"
      description="Consultas, aplicações, exames e coletas realizadas com todo o cuidado, no conforto do seu lar.">
    </app-feature-card>
    
    <app-feature-card
      iconSrc="assets/more.svg"
      title="Outra Funcionalidade"
      description="Descrição de outra funcionalidade oferecida.">
    </app-feature-card>
  </div>
</div>

