<div class="page-container">
  <h1>Equipe</h1>
  
  <div class="team-grid">
    <app-team-card
      imageSrc="assets/more.svg"
      name="Dra. Pamela Pereira"
      crvm="CRMV 34466 - SP"
      description="Veterinária que realiza atendimento como clinica e como especialista de Silvestres">
    </app-team-card>
    
    <app-team-card
      imageSrc="assets/more.svg"
      name="Dr. João Silva"
      crvm="CRMV 12345 - SP"
      description="Especialista em cardiologia e medicina interna veterinária.">
    </app-team-card>
    
    <app-team-card
      imageSrc="assets/more.svg"
      name="Dr. Pedro Santos"
      crvm="CRMV 67890 - SP"
      description="Cirurgião veterinário com expertise em procedimentos complexos.">
    </app-team-card>
  </div>
</div>

