<footer class="footer">
  <div class="footer-container">
    <div class="footer-column">
      <h3 class="footer-title">Institucional</h3>
      <ul class="footer-links">
        <li><a routerLink="/home" class="footer-link">Home</a></li>
        <li><a routerLink="/quem-somos" class="footer-link">Quem Somos</a></li>
        <li><a routerLink="/prismapet" class="footer-link">PrismaPet</a></li>
        <li><a routerLink="/planos" class="footer-link">Planos</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h3 class="footer-title">Planos</h3>
      <ul class="footer-links">
        <li><a routerLink="/planos" class="footer-link" (click)="navigateToPlanos()">Prontuário Básico</a></li>
        <li><a routerLink="/planos" class="footer-link" (click)="navigateToPlanos()">Prontuário Pro</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h3 class="footer-title">Contato</h3>
      <ul class="footer-links">
        <li><a href="mailto:contato@techvet.com" class="footer-link">contato&#64;techvet.com</a></li>
        <li><a href="https://wa.me/5511998990629" target="_blank" rel="noopener noreferrer" class="footer-link">(11) 99899-0629</a></li>
      </ul>
    </div>

    <div class="footer-column">
      <h3 class="footer-title">Política de Privacidade</h3>
      <ul class="footer-links">
        <li><a routerLink="/termos" class="footer-link">Termos de Uso</a></li>
        <li><a routerLink="/privacidade" class="footer-link">Política de Privacidade</a></li>
      </ul>
    </div>
  </div>
</footer>
